.wlap{
    background-color: #c23d6e;
}
.b1{
    width: 15em;
    height: 37em;
    background-color: #866e9d;
    float: left;
}
.b2{
    width: auto;
    height: auto;
    background-color: #c23d6e;
    margin-bottom: 2em; 
    float: none;
}
.imgg{
    float: right;
    width: 115px;
}

.b3{
    width: auto;
    background-color: #7e6f76;
    clear: both;
    height: 30px;
}
.clear{
    /*background-color: black;
    height: 10px;*/
    clear: both;
}

