.wlap{
    background-color:  #c23d6e;
}
.b1{
    width: 15em;
    background-color: #866e9d;
    float: left;
}
.b2{
    width: 100%;
    background-color: #c23d6e;
    margin-bottom: 0.2em; 
    float: none;
}
.imgg{
    float: right;
    width: 115px;
    margin: 5px;
}
.b3{
    background-color: rgb(203, 40, 31);
    clear: both;
    margin-top: -14px;
}
.clear{
    /*background-color: black;*/
    height: 10px;
    clear: both;
}
.blok{
     background-color: #f3f0f0;
     height: 3px;
     clear: none;
}

